@import "src/app/main";
@import "src/helpers/size-page";

.aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 25%;
  background-color: $black;

  @include size-page('tablet-big-max') {
    width: 15%;
  }
}