@import "src/app/main";
@import "src/helpers/size-page";

.main__footer {
  display: flex;
  justify-content: space-between;
  padding:  0;
  background-color: transparent;

  @include size-page('tablet-big-max') {
    display: none;
  }

  &__text {
    font-weight: 400;
    font-size: $font16;
    color: rgba(220, 220, 220, 0.6);
  }

  &__designer {
    text-decoration: none;
    color: $orange;

    &:hover {
      color: $hover;
    }
  }
}