@import "src/app/main";

.main__footer {
  padding: 3vh 0;
  background-color: transparent;

  &__text {
    font-weight: 400;
    font-size: $font16;
    color: rgba(220, 220, 220, 0.6);
  }

  &__designer {
    text-decoration: none;
    color: $orange;

    &:hover {
      color: $hover;
    }
  }
}