@import "src/app/main";
@import "src/helpers/size-page";

.about {
  padding: 3vh 2vw;

  @include size-page('tablet-big-max') {
    padding: 3vh 5vw;
  }

  &__heading {
    font-size: $font34;
    font-weight: 600;
    padding-right: 28vw;
    margin-bottom: 24px;
    color: $white;
  }

  &__description {
    font-size: $font16;
    font-weight: 400;
    color: $white;
    margin-bottom: 65px;
  }

  &__i-can {
    margin-bottom: 9vh;

    &__list {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }

    &__item {
      width: 300px;
      padding: 24px 40px 24px 0;

      &_img {
        margin-bottom: 2vh;
      }

      &_img > svg {
        height: 80%;
      }

      &_description {
        font-weight: 400;
      }
    }
  }

  &__skills {
    margin-bottom: 9vh;

    &_heading {
      font-size: $font34;
      font-weight: 600;
      padding-right: 28vw;
      margin-bottom: 24px;
      color: $white;
    }

    &_list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      padding: 0;

      &_item {
        width: 150px;
        margin-bottom: 40px;
        background-image: url("./assets/skills.svg");
        background-repeat: no-repeat;
        background-position: left;

        & > span {
          margin-left: 45px;
        }
      }
    }
  }

  &__experience {
    margin-bottom: 9vh;

    &_heading {
      font-size: $font34;
      font-weight: 600;
      padding-right: 28vw;
      margin-bottom: 24px;
      color: $white;
    }

    &_description {
      font-size: $font16;
      line-height: 24px;
      color: $white;

    }
  }

  &__education {

    &_heading {
      font-size: $font34;
      font-weight: 600;
      padding-right: 28vw;
      margin-bottom: 24px;
      color: $white;
    }

    &_subheading {

    }

    &_description {
      font-size: $font16;
      line-height: 24px;
      color: $white;
    }
  }
}