@import "src/app/main";
@import "src/helpers/size-page";

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 7vh;
  background-image: url("./assets/main.svg");
  background-repeat: no-repeat;
  background-position: center 55vh;

  @include size-page('tablet-big-max') {
    padding-top: 13vh;
    background-size: 80%;
    background-position: center 65vh;
  }

  &__heading {
    width: 45vw;
    margin-bottom: 5vh;
    font-size: $font54;
    line-height: 70px;
    font-weight: 700;
    text-align: center;
    color: $white;

    @include size-page('tablet-big-max') {
      width: 90vw;
      font-size: $font34;
      line-height: 50px;
    }
  }

  &__description {
    font-size: $font24;
    margin-bottom: 5vh;
    color: $white;

    @include size-page('tablet-big-max') {
      padding: 0 30px;
    }
  }

  &__my-works {
    padding: 16px 50px;
    color: $white;
    font-size: $font24;
    font-weight: 500;
    border: 2px solid $orange;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      background: linear-gradient(90.06deg, rgba(255, 160, 27, 0.2) 0.71%, rgba(255, 255, 255, 0.2) 49.45%, rgba(255, 160, 27, 0.2) 99.96%), $orange;
    }
  }
}