@import "src/app/main";

.modal__wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 40, 44, 0.75);
}


.modal__root {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  background: #FFFFFF;
  box-shadow: 5px 5px 15px 5px rgba(44, 31, 23, 0.72);
  border-radius: 7px;
  min-width: 200px;
  min-height: 160px;
  max-width: 80%;
  padding: 24px;
  margin-bottom: 25px;
}