@import "src/app/main";
@import "src/helpers/size-page";

.works {
  padding: 7vh 5vw;

  @include size-page('tablet-big-max') {
    padding: 13vh 7vw;
  }

  &__heading {
    font-size: $font34;
    font-weight: 600;
    padding-right: 28vw;
    margin-bottom: 24px;
    color: $white;
  }

  &__nav {

    @include size-page('tablet-big-max') {
      display: none;
    }

    &_list {
      display: flex;
      justify-content: space-between;
      padding: 0;

      &_item {
        font-size: $font16;
        cursor: pointer;

        &-active {
          border-bottom: 1px solid $white;
        }
      }
    }
  }

  &__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__mobile {
    display: none;

    @include size-page('tablet-big-max') {
      display: flex;
      margin-bottom: 5vh;
    }

    &_text {
      color: $white;
      font-size: $font18;
      margin-right: $font16;
    }

    &_select {
      width: 52vw;
      padding: 3px 10px 6px;
      box-sizing: border-box;
      border: 1px solid $gray;
      background-color: $bodyBackground;
      color: $white;
    }
  }
}