@import "src/app/main";

.works {
  padding: 7vh 5vw;

  &__heading {
    font-size: $font34;
    font-weight: 600;
    padding-right: 28vw;
    margin-bottom: 24px;
    color: $white;
  }

  &__nav {

    &_list {
      display: flex;
      justify-content: space-between;
      padding: 0;

      &_item {
        font-size: $font16;
        cursor: pointer;

        &-active {
          border-bottom: 1px solid $white;
        }
      }
    }
  }

  &__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}